@font-face {
    font-family: 'ProximaNova-Light';
    src: url('/src/Fonts/ProximaNovaLight.ttf');
  }
  @font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/src/Fonts/ProximaNovaRegular.ttf');
  }